{%extends "base_page.html"%}
{%block title%}My Blog{%endblock%}
{%block extrahead%}
<style type="text/css">
.each_blog{
  border: 1px solid #EEE;
  margin-top: 20px;
}
.each_blog .heading{
  padding: 20px;
  overflow: hidden;
}
.each_blog p{
  padding-left: 10px;
  padding-right: 10px;
}
.each_blog img{
  padding: 2px;
  margin: 5px;
  border: 1px solid #EEE;
}
#code{
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background: #EEE;
}
body{
  background: url({{MEDIA_URL}}site-icons/denim.png) repeat center center;
}
.page-container{
  background: url({{MEDIA_URL}}site-icons/denim.png) repeat center center;
}
</style>
{%endblock%}

{%block content%}
<div class="container page-container" id='content'>
{{about.about_data|safe}}
</div> <!-- /container -->
{%endblock%}