{%comment%}
main base page
{%endcomment%}
<!DOCTYPE html>
<html lang="en">
  <head>
<script type="text/javascript">
</script>
    <meta charset="utf-8">
    <title>{%block title%}{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="w4rlock">
    <link href="{{MEDIA_URL}}site-icons/favicon.ico" rel="shortcut icon" type="image/x-icon" />
 <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{MEDIA_URL}}js/jquery/jquery-1.7.2.min.js"></script>
    <script src="{{MEDIA_URL}}bootstrap/js/bootstrap.js"></script>
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <!-- Le styles -->
    <link href="{{MEDIA_URL}}bootstrap/css/bootstrap.css" rel="stylesheet">
    
    
    <style type="text/css">
      body {
        padding-top: 43px;
        padding-bottom: 40px;
        /*background-image: url('{{MEDIA_URL}}site-icons/bg.png');*/
        /*background-repeat: repeat;*/
        background: #E3E2DD;
        background: white;
        background: whitesmoke;
      }
      h2{
        font-family: "cubano-1","cubano-2",sans-serif;
        font-weight: 400;
        text-shadow: 0 1px 0 #CFCFCF;
        font-size: 1.2em;
      }
            #technologies li + li::before {
        padding: 0 4px;
        content: " / \20\0020";
        }
      #page_footer li {
        display: inline;
        height: 16px;
        line-height: 16px;
        }
      #technologies li{
          color: #08C;
          font-size: 10px;
        }
      #page_footer ul{
          margin: 0px;
          padding: 0px;
        }
      #page_footer p{
          margin: 0px;
          padding: 0px;
          color: whitesmoke;
        }
      footer{
          margin-left: 20px;
        }

        .container{

        }
        .page-container{

        }
        .page-body{
          background: whitesmoke;
        }
      #content{
         
         
        /*  padding-bottom:20px;
          border-radius:5px;

  border: 1px solid #EEE;
border-radius: 1px;
-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
-o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
margin-top: 20px;

-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, .7);
-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, .7);
-o-box-shadow: 0px 0px 8px rgba(0, 0, 0, .7);
box-shadow: 0px 0px 8px rgba(0, 0, 0, .7);

margin-top: 0px;*/

      }
    </style>

	<script type="text/javascript">
	$('.nav li a').click(function()
		{
	  		$('.nav li').removeClass('active');
	  		$(this).parent().addClass('active');
		});
	</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34016254-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
    
<link href="{{MEDIA_URL}}bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
{%block extrahead%}{%endblock%}
  </head>

  <body class="page-body" id="page-body-id">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">
          	<a class="brand" href="/">{% load get_title %}{{'x'|get_title}}'s blog</a>
          </a>
          <div class="nav-collapse">
            <ul class="nav">
              <li><a href="{%url 'index' %}">Home</a></li>
              <li><a href="{%url 'about' %}">About</a></li>
              {%if user.username%}
              <li><a href="{% url 'fileupload' %}">upload file/img</a></li>
              {%endif%}
            </ul>

             {%if user.username%}
          			<ul class="nav pull-right">	
          				<li class="dropdown">

   <a href="#" class="dropdown-toggle" data-toggle="dropdown">Logged in as {%if user.first_name%} {{ user.first_name|default:" " }} {{ user.last_name|default:" " }}{%else%}{{user.username}}{%endif%}{% if last_login%}&nbsp;-&nbsp;{{last_login}}{%endif%}
                <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li><a href="/adminx/">Admin</a></li>
              <!--   <li><a href="#">Something else here</a></li> -->
                
                <li><a href="{% url 'account_logout' %}?next={{request.path}}"><i class="icon-off icon-black"></i> Logout</a></li>
              </ul>
            </li>
          			</ul>
          {%else%}

          			<ul class="nav pull-right">
            		<li><a href="{% url 'account_login' %}?next={{request.path}}">Login</a></li>
            		
            		<li><a href="{% url 'account_signup' %}">Register</a></li>
          			</ul>
          	{%endif%}

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    

{%block content%}
{%endblock%}
{%block contentx %}
{%endblock%}

<div class="container {%block footer_class %}{%endblock%}" id="page_footer" style="">
		<hr/>
        <footer>
        <p style="color: black">{% load get_title %}{{'x'|get_title}}'s blog</p>
         <ul id="technologies">
              <li>Using</li>
              <li><a href="http://www.djangoproject.com/">Django 1.4</a></li>
              <li><a href="https://bitbucket.org/bofh19/simple_blog/">Simple Blog</a></li>

	      <li><a href="https://github.com/twitter/bootstrap/">bootstrap</a></li>
        </ul>
      </footer>
</div>

   

  </body>
</html>
