{%extends "base_page.html"%}
{%block title%}My Blog{%endblock%}
{%block extrahead%}
<style type="text/css">
.each_blog{
  border: 1px solid #EEE;
border-radius: 5px;
-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
-o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
margin: auto;
margin-top: 20px;
background: white;
}
.each_blog .heading{
  padding: 20px;
  overflow: hidden;
}
.each_blog p{
  padding-left: 10px;
  padding-right: 10px;
}
.each_blog img{
  padding: 2px;
  border: 1px solid #EEE;
  max-height: 100px;
  margin: 2px;
}
.img_thumbnail{
  max-height:100px;
  margin: 2px;
}
.each_blog_heading{
  color: black;
  border-bottom: 1px solid #EEE;
}
.each_blog_time{
  font-style: italic;
  color:grey;
  font-size: 10px;
}

.container{
  width: 1000px;
  margin: auto;
}
.left_body{
  width: 650px;
  float: left;
}
.right_body{
  width: 300px;
  float: left;
  padding-left: 20px;
}
.right_body_content{
  
}
</style>
{%endblock%}

{%block content%}


<div class="container page-container" id='content'>
  <div class="left_body">
{% for each_blog in all_blogs %}

<div class="each_blog" id="post_{{forloop.counter}}">
  <div class='heading'>
    <a href="{% url 'blog_detail' each_blog.blog.id '-'|add:each_blog.url_title %}">
      <h2 class="each_blog_heading">{{each_blog.blog.blog_title|capfirst}}</h2>
    </a>
    <p class="each_blog_time">{{ each_blog.blog.blog_date|date:"d M Y" }} - {{each_blog.blog.blog_time}}</p>
  </div>

  <div>  
  {{each_blog.trunc_data|safe}}
  <p><a href='{% url 'blog_detail' each_blog.blog.id '-'|add:each_blog.url_title %}'>Read More..</a></p>
  </div>
</div>




{%endfor%}
</div> <!-- end for left block -->
<div class="right_body">
  <div class="right_body_content each_blog">
<!--     <div class="heading">
    <h2 class="each_blog_heading"></h2>
    <ul style="">
      {% for each_blog in all_blogs %}
      <li><a style="color: black" href="{% url 'blog_detail' each_blog.blog.id '-'|add:each_blog.url_title %}">{{each_blog.blog.blog_title|capfirst}}</a><p class="each_blog_time">{{ each_blog.blog.blog_date|date:"d M Y" }}</p></li>
      {%endfor%}
    </ul>
  </div>

  <br/>
   -->
    {% regroup docs by month as documents_list %}
    <div class="heading">
      <h2 class="each_blog_heading"></h2>
    <ul style="list-style: none">
      {% for documents in documents_list %}
       <li>{{documents.grouper}}</li>
       <ul style="list-style: none">
          {%for document in documents.list %}
          <li><a style="color: black" href="{% url 'blog_detail' document.id '-'|add:document.url_title %}">
            {{document.blog_title|capfirst}}<p class="each_blog_time">{{ document.blog_date|date:"d M Y" }}</p></a></li>
          {%endfor%}
       </ul>
      {%endfor%}
    </ul>

  </div>
</div>

</div> <!-- /container -->

</div>

{%endblock%}