{%extends "registration/registration_base.html"%}
{%block title%}Login{%endblock%}
{%block content%}
<div class="container">
<div class="span12 info_box">
	
	<div class="row-fluid span6">
<h2>Login Using</h2>
<div class="span4 row-fluid">
  
<form method="post" action="">
  <p>
  {%csrf_token%}
  {{form.as_p}}
<input type="submit" value="Login" class="btn">
</p>
</form>

</div>
<div class="span1">
<h3>OR</h3>
</div>
<ul class="thumbnails">
        <li class="span2">
          <a href="#" class="thumbnail">
          <img src="{{MEDIA_URL}}external_icons/icon_facebook.png" alt="some-thing-is-wrong-with-connection">
          </a>
        </li>

        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="{{MEDIA_URL}}external_icons/icon_google.png" alt="some-thing-is-wrong-with-connection">
          </a>
        </li>

        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="{{MEDIA_URL}}external_icons/icon_twitter.png" alt="some-thing-is-wrong-with-connection">
          </a>
        </li>
 </ul>

</div>
</div>

<style type="text/css">
  .info_box{
    background: rgba(0, 0, 0, 0.6);
  }

</style>
</div>
{%endblock%}