{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    
    <form method="POST" action="" class="password_change uniForm">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ password_change_form|crispy }}
             <div class = "buttonHolder">
                 <button type="submit" name="action">{% trans "Change Password" %}</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
