{% extends "account/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Set Password" %}</h1>
    
    <form method="POST" action="" class="password_set uniForm">
        {% csrf_token %}
        <fieldset class="inlineLabels">
            {{ password_set_form|crispy }}
             <div class="buttonHolder">
                 <input type="submit" name="action" value="{% trans "Set Password" %}"/>
            </div>
        </fieldset>
    </form>
{% endblock %}
