{%extends "base_page.html"%}
{%block title%}{{blog.blog_title}} - w4rlock's blog{%endblock%}
{%block extrahead%}
<style type="text/css">
.each_blog{
  border: 1px solid #EEE;
border-radius: 5px;
-webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
-moz-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
-o-box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
box-shadow: 0 2px 4px rgba(0, 0, 0, .05);
margin-top: 20px;
background: white;
float: left;
}
.each_blog .heading{
  padding: 20px;
  overflow: hidden;
}
.each_blog p{
  padding-left: 10px;
  padding-right: 10px;
}
.each_blog img{
  padding: 2px;
  margin: 5px;
  border: 1px solid #EEE;
}
#code{
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background: #EEE;
}
.each_blog_heading{
  color: black;
  border-bottom: 1px solid #EEE;
}
.each_blog_time{
  font-style: italic;
  color:grey;
  font-size: 10px;
}
.page-container{
  
  top: 40px;
  
}
.each_blog_footer{
border: 0px solid #EEE;
border-radius: 5px;
}
#page_footer{
 
}
.container{
  width: 1000px;
  margin: auto;
}
.blog_content{
  width: 100%;
  float: left;
}
.blog_comments{
  width: 100%;
  float: left;
}
</style>

<script type="text/javascript" src="{{MEDIA_URL}}sh/scripts/XRegExp.js"></script>
<script src="{{MEDIA_URL}}sh/scripts/shCore.js"></script>
<script src="{{MEDIA_URL}}sh/scripts/shBrushPython.js"></script>
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}sh/styles/shCore.css"/>
<link type="text/css" rel="Stylesheet" href="{{MEDIA_URL}}sh/styles/shThemeDefault.css" />
<script type="text/javascript">SyntaxHighlighter.all();</script>


{%endblock%}

{%block content%}
<div class="container page-container" id='content'>

<div class="each_blog">
  <div class="blog_content">
    <div class='heading'>
      <a href=''>
      <h2 class="each_blog_heading">{{blog.blog_title}}</h2>
    </a>
      <p class="each_blog_time">Last Edit : {{blog.blog_date|date:"d M Y" }} - {{blog.blog_time}} {% if user.username %}<a href='/adminx/blog/blog/{{blog.id}}/' target='_blank'>Edit</a>{%endif%}</p>
    </div>
    
  {{blog.blog_data|safe}} 
 
</div>
{% comment %}
 <!-- using django comments module -->
 <div class="blog_comments">
    <div class="comments">
      <hr/>
      {% load comments %}
      {% get_comment_count for blog.blog blog.id as comment_count %}
      <p>{{ comment_count }} comments have been posted.</p>

      {% render_comment_list for blog %}
    </div>

    <div class="">
      {% render_comment_form for blog %}
    </div> 
  </div>
</div>
<!--
<div class="span12">
{%if user.username%}

  <h3>User data:</h3>

  <table class="table">
    <tr class="odd"><th>Id:</th> <td>{{ user.id }}</td></tr>
    <tr class="even"><th>Username:</th> <td>{{ user.username }}</td></tr>
    <tr class="odd"><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
    <tr class="even"><th>First name:</th> <td>{{ user.first_name|default:"Not provided" }}</td></tr>
    <tr class="odd"><th>Last name:</th> <td>{{ user.last_name|default:"Not provided" }}</td></tr>
    <tr class="even"><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
  </table>
  <p>
   <a href="{% url user_logout %}?next={{request.path}}"><h6>Logout</h6></a>
 </p>
 {{user.get_all_permissions}}


{%endif%}
</div>
-->
{% endcomment %}

</div> <!-- /container -->

{%endblock%}
{% block footer_class %} span12 {% endblock %}
