{%extends "base_page.html"%}
{%block title%}My Blog{%endblock%}
{%block extrahead%}
<style type="text/css">
.each_blog{
  border: 1px solid #EEE;
  margin-top: 20px;
}
.each_blog h2{
  padding: 20px;
  overflow: hidden;
}
.each_blog p{
  padding-left: 10px;
  padding-right: 10px;
}
.each_blog img{
  padding: 2px;
  border: 1px solid #EEE;
}
.back_white{
  background: white;
  padding: 20px;
}
</style>
{%endblock%}

{%block content%}
<div class="container page-container" id='content'>
  <div class='span11 back_white'>
  <div class='pagination'>
    <ul>
   {% if page_list.has_previous %}
         <li>   <a href="?p={{ page_list.previous_page_number }}">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>Page {{ page_list.number }} of {{ page_list.paginator.num_pages }}.</a>
        </li>

        {% if page_list.has_next %}
            <li> <a href="?p={{ page_list.next_page_number }}">next</a></li>
        {% endif %}
    </ul>
  </div>
<!-- List of uploaded documents -->
{% if documents %}
    <!-- <ul>
    {% for document in documents %}
        <li><a href="{{ document.docfile.url }}">{{ document.docfile.name }}</a></li>
    {% endfor %}
    </ul> -->
    {% regroup docs by month as documents_list %}
    <ul>
      {% for documents in documents_list %}
       <li>{{documents.grouper}}</li>
       <ul>
          {%for document in documents.list %}
          <li><a href="{{document.url}}">{{document.name}}</a></li>
          {%endfor%}
       </ul>
      {%endfor%}
    </ul>
{% else %}
    <p>No documents.</p>
{% endif %}

<!-- Upload form. Note enctype attribute! -->
<form action="{% url 'fileupload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.docfile.help_text }}
    {{ form.docfile.label_tag }}
    {{ form.docfile.errors }}
    {{ form.docfile }}
    <input type="submit" value="Upload" />
</form>

<div class='pagination'>
    <ul>
   {% if page_list.has_previous %}
         <li>   <a href="?p={{ page_list.previous_page_number }}">previous</a> </li>
        {% endif %}

        <li class="current">
            <a href=''>Page {{ page_list.number }} of {{ page_list.paginator.num_pages }}.</a>
        </li>

        {% if page_list.has_next %}
            <li> <a href="?p={{ page_list.next_page_number }}">next</a></li>
        {% endif %}
    </ul>
  </div>
</div>
</div> <!-- /container -->
{%endblock%}