{% load comments i18n %}
<div id="comments_form">
<form action="{% comment_form_target %}" method="post">{% csrf_token %}
  {% if next %}<div><input type="hidden" name="next" value="{{ next }}" /></div>{% endif %}
  {% for field in form %}
  <div class="each_field">
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p id="hide_{{ field.name }}"
        {% if field.errors %} class="error"{% endif %}
        {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ field.label_tag }} {{ field }}
      </p>
    {% endif %}
  </div>

  {% endfor %}
  <input type="hidden" name="next" value="{{request.path}}" />
  <p class="submit">
    <input type="submit" name="post" class="submit-post btn" value="{% trans "Post" %}" />
  </p>
</form>
</div>
<style type="text/css">
.comments_form{
  border-top: 1px solid black;
  
}
#hide_email{
  width: 300px;
}
#hide_url{
  display: none;
}
#id_comment{
  width: 300px;
  height: 75px;
}
#id_name{
  width: 300px;
}
#id_email{
  width: 300px;
}
</style>
<script type="text/javascript" charset="utf-8" async defer>
  var user_name = '';
  user_name = '{%if user.first_name%} {{ user.first_name|default:" " }} {{ user.last_name|default:" " }}{%else%}{{user.username}}{%endif%}{% if last_login%}&nbsp;-&nbsp;{{last_login}}{%endif%}';
  name_elem = document.getElementById('id_name');
  name_elem.value = user_name

  var user_email = '';
  user_email = '{{user.email}}'
  email_elem = document.getElementById('id_email');
  email_elem.value = user_email
</script>