<div id="comments">
  {% for comment in comment_list %}
  <div class="each_comment">
  	
        <span class="comment_name">{{comment.name}}</span> <span class="date">{{ comment.submit_date }}</span> 
        <p>{{ comment.comment }}</p>
    
    
        
    
    </div>
  {% endfor %}
</div>

<style type="text/css">
.date{
	font-style: italic;
  color:grey;
  font-size: 10px;
}
.comment_name{
	font-weight: bold;
}
.each_comment{
	padding-left: 10px;
}
</style>