{% extends "registration/registration_base.html" %}
{% block title %}Password changed{% endblock %}
{% block content %}
<div class="span9">
	<div class="row-fluid">
Password successfully changed!
</div></div>
{% endblock %}

