{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}
	
	{% block extrastyle %}
	
	<link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}" />
		<!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{MEDIA_URL}}admin/jquery/jquery-1.7.2.min.js"></script>
    
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <!-- Le styles -->
    <link href="{{MEDIA_URL}}admin/bootstrap/css/bootstrap.css" rel="stylesheet">
    
<!-- custom css includes here -->
 
    <style type="text/css">
      body {
        padding: 40px;
      /*
        background-image: url('{{MEDIA_URL}}admin/site-icons/cleanlayout.jpg');
      */
      background-size: 100%;
     	background-repeat: repeat;
      }
 	.breadcrumbs{
 		padding-top: 40px;


 	}
 	div.breadcrumbs {
     
      background: white url(../img/nav-bg-reverse.gif) 0 -10px repeat-x;
     
      padding: 0px 0px 0px 0px;
      font-size: 11px;
      color: #999;
      border-top: 0px solid white;
      border-bottom: 0px solid #CCC;
      text-align: left;
      width: 100%;
      
 	}
 	ul.messagelist {
		
	}
	h1{
		font-size: 15px;
line-height: 100%;
	}
  h2{
line-height: 100%;
  }
  h3{
    line-height: 100%;
  }
  .module {
border: 0px solid #CCC;
  }

  .container-fluid{
    border: 1px solid black;
    
    -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
  }
  #content-related {
    float: none;
    position: static;
  }
#container {
position: relative;
width: 100%;
min-width: 0px;
padding: 0;
}
.module h2, .module caption, .inline-group h2 {
  background: grey;
}
   </style>
<!-- custom css ends -->

	
	
	{% endblock %}

{% block customscript %}

<style type="text/css">
  .submit-row{
    background: none;
    border: 0px solid #CCC;
  }
 
  ul li {
list-style-type: none;
}
</style>
<link href="{{MEDIA_URL}}admin/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
<script src="{{MEDIA_URL}}admin/bootstrap/js/bootstrap.js"></script>
{%endblock%}


{% block branding %}
{% trans 'Test Site administration' %}
{% endblock %}

{% block nav-global %}{% endblock %}
